* {
    margin: 0;
    padding: 0;
}

:root {
    --title-fonts: 'Dancing Script', cursive;
    --body-fonts: 'Poppins', sans-serif;
}

nav {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #E8D8C4;
    max-width: 100%;
    position: sticky;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.navbar-brand {
    font-family: var(--title-fonts);
    font-size: 40px;
}

.navbar-menu li {
    list-style-type: none;
    display: inline-block;
    padding-right: 40px;
}

.navbar-menu a {
    color: black;
    text-decoration: none;
    font-family: var(--body-fonts);
    font-size: 18px;
    font-weight: 500;
}

.button1 {
    background-color: #561C24;
    border-radius: 24px;
    padding: 8px 20px;
    stroke: none;
    border: none;
}

.button1 a {
    color: white;
    text-decoration: none;
    font-family: var(--body-fonts);
    font-size: 18px;
    font-weight: 500;
}

.hero-section {
    background-image: url('assets/background_bakpia.png');
    height: calc(100vh - 100px);
    width: 100%;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-h1 {
    font-family: var(--body-fonts);
    font-weight: 500;
    color: #E8D8C4;
    font-size: 64px;
    line-height: 96px;
}

.hero-h2 {
    font-family: var(--body-fonts);
    font-weight: 400;
    color: #FFFFFF;
    font-size: 24Ppx;
    margin-top: 24px;
}

.hero-button {
    background-color: #561C24;
    padding: 12px 24px;
    color: #561C24;
    border-radius: 24px;
    border:1px solid #E8D8C4;
    margin-top: 32px;
}

.hero-button a{
    color: #E8D8C4;
    text-decoration: none;
    font-family: var(--body-fonts);
    font-size: 18px;
    font-weight: 500px;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
}

.content-left {
    padding-left: 10%;
}

.content-right {
    padding-right: 10%;
}

.section-about {
    height: calc(100vh - 100px);
    width: 100%;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}

.section-about .content-right {
    padding-right: 10%;
    margin-left: 140px;
}

.about-h1 {
    font-family: var(--body-fonts);
    font-weight: 500;
    font-size: 32px;
    color: #561C24;
    margin-bottom: 32px;
}

.line {
    margin-bottom: 32px;
    color: #561C24;
    border: 1px solid #561C24;
}

.about-p {
    font-family: var(--body-fonts);
    font-size: 24px;
    color: #561C24;
    margin-bottom: 32px;
}

.section-gallery {
    height: calc(100vh);
    width: 100%;
    justify-content: space-between;
    margin-bottom: 300px;
}

.gallery-h1 {
    font-size: 32px;
    color: #561C24;
    font-family: var(--body-fonts);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.gallery-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.gallery-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.section-testimonial {
    height: 655px;
    background-color: #561C24;
}

.testimonial-h1 {
    font-family: var(--body-fonts);
    font-size: 32px;
    color: #E8D8C4;
    text-align: center;
    padding-top: 32px;
}

.section-faq {
    background-color: #6D2932;
}

.faq-h1 {
    font-family: var(--body-fonts);
    font-size: 32px;
    color: #E8D8C4;
    text-align: center;
    padding: 40px 0px;
}

.faq-center {
    padding-left: 10%;
    padding-right: 10%;
}

.faq-box {
    padding-bottom: 24px;
}

.accordion {
    background-color: #6D2932;
    color: #E8D8C4;
    font-family: var(--body-fonts);
    font-size: 24px;
    cursor: pointer;
    padding: 32px;
    width: 100%;
    text-align: left;
    border: 3px solid #E8D8C4;
    border-radius: 25px;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #561c20;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 30px;
    margin: 24px 0px;
    color: #E8D8C4;
    font-family: var(--body-fonts);
    font-size: 16px;
    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 24px;
    color: #E8D8C4;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .section-location {
    height: calc(100vh - 100px);
    width: 100%;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section-location .content-right {
    padding-right: 10%;
    margin-left: 140px;
}

@media screen and (max-width: 500px) {
    .flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 100%;
    }

    .bakpia {
        display: none;
    }

    .section-about .content-right {
        padding-right: 10%;
        margin-left: 10%;
    }

}