* {
    margin: 0;
    padding: 0;
}

:root {
    --title-fonts: 'Dancing Script', cursive;
    --body-fonts: 'Poppins', sans-serif;
}

nav {
    align-items: center;
    justify-content: space-between;
}

.container {
    margin: 0 100px;
}

.navbar-brand {
    background-color: #E8D8C4;
    height: 100px;
    font-family: var(--title-fonts);
    font-size: 40px;
}

.navbar-menu ul {
    list-style-type: none;
}

.navbar-menu a {
    text-decoration: none;
    font-family: var(--body-fonts);
    font-size: 18px;
    font-weight: 500;


}

.button1 {
    background-color: #561C24;
    border-radius: 24px;
    padding: 12px 20px;
}

.button1 a {
    color: white;
    text-decoration: none;
    font-family: var(--body-fonts);
    font-size: 18px;
    font-weight: 500;

}